.btn-resume {
  background-color: #d80286;
  color: #fff;
}
.btn {
  /* box-shadow: inset 0 0 0 0 #d80286; */
  transition: ease 1s;
}
.btn:hover {
  box-shadow: inset 155px 0 0 0 #d80286;
  color: #fff;
}
